@tailwind base;
@layer base {
  html {
    font-family: 'Plus Jakarta Sans';
  }
}
@tailwind components;
@tailwind utilities;

.font-inter {
  font-family: 'Inter';
}
.mint_background{
  background-image: url(/images/mintpage_background.png);
}

